
<ion-header>
  <ion-toolbar>
    <ion-title>Query</ion-title>
    <ion-buttons slot="end">
      <ion-button class="add-btn" (click)="openControlForm()">
        <ion-icon name="add-circle" class="add-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>

        <!-- <div *ngIf="!queryProperty">
          <ion-button color="primary" expand="block" fill="outline" class="add-btn" (click)="openControlForm()">
            <ion-icon name="add-circle"></ion-icon>
            Add Query
          </ion-button>
        </div>
        <div *ngIf="queryProperty">
          <ion-button color="primary" expand="block" fill="outline" class="add-btn" (click)="openControlForm()">
            <ion-icon name="pencil-outline"></ion-icon>
            Edit Query
          </ion-button>
        </div> -->
      
        <ng-container *ngIf="queryProperty">
          <ng-container *ngIf="queryProperty.processFor != 'query'">
            <div class="play-pause">
              <ion-button [disabled]="!queryProperty.zoom" (click)="play(queryProperty)">
                <ion-icon name="play-outline"></ion-icon>
              </ion-button>
              <ion-button [disabled]="queryProperty.zoom" (click)="pause(queryProperty)">
                <ion-icon name="pause-outline"></ion-icon>
              </ion-button>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="queryProperty">
          <h1 class="table-tlt">{{queryProperty.title}}</h1>
          <div class="item">
            <dx-chart id="chart" [dataSource]="queryProperty['chartDataSource']">
              <dxi-series *ngFor="let tags of queryProperty['tags']" argumentField="datetime" [valueField]="tags"
                [type]="queryProperty['chartType']" [name]="tags">
                <dxo-aggregation [enabled]="true"></dxo-aggregation>
                <dxo-point [visible]="queryProperty['pointFlag']"></dxo-point>
              </dxi-series>
              <dxo-legend verticalAlignment="top" horizontalAlignment="center">
              </dxo-legend>
              <dxo-zoom-and-pan argumentAxis="both" valueAxis="both" *ngIf="queryProperty.zoom"></dxo-zoom-and-pan>
              <dxo-tooltip [enabled]="true" [shared]="true">
              </dxo-tooltip>
              <dxi-value-axis name="value" position="left">
                <dxo-grid [visible]="queryProperty.gridFlag"></dxo-grid>
                <dxo-title [text]="queryProperty?queryProperty.valueAxis:'Value'"></dxo-title>
              </dxi-value-axis>
              <!-- <dxo-argument-axis [title]="queryProperty?queryProperty.arugumentAxis:'Argument'" [valueMarginsEnabled]="false"
                argumentType="datetime"> -->
              <dxo-argument-axis [title]="queryProperty?queryProperty.arugumentAxis:'Argument'" [valueMarginsEnabled]="false">
                <dxo-grid [visible]="queryProperty.gridFlag"></dxo-grid>
                <dxo-label format="shortTime"></dxo-label>
              </dxo-argument-axis>
              <dxo-common-series-settings argumentField="Time">
                <dxo-grid [visible]="queryProperty.gridFlag"></dxo-grid>
              </dxo-common-series-settings>
              <dxo-crosshair [enabled]="true">
                <dxo-label [visible]="true"></dxo-label>
              </dxo-crosshair>
              <!-- <ng-container *ngIf="role == 'A' || role == 'P'">
                <dxo-export [enabled]="true"></dxo-export>
              </ng-container> -->
              <dxo-animation easing="linear" [duration]="500" [maxPointCountSupported]="100"> </dxo-animation>
            </dx-chart>
            <!-- <div class="btn-icos">
              <ion-button (click)="openModalControl(queryProperty, 'chart')">
                <ion-icon name="scan-outline"></ion-icon>
              </ion-button>
            </div> -->
          </div>
        </ng-container>
        <ng-container *ngIf="queryProperty">
          <div class="item">
            <!-- <h1 class="table-tlt">Title</h1> -->
            <dx-data-grid id="gridContainer" [dataSource]="queryProperty.tableDataSource" [showBorders]="true" [columnAutoWidth]="true">
              <dxo-group-panel [visible]="false"></dxo-group-panel>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <!-- <ng-container *ngIf="role == 'A' || role == 'P'">
                  <dxo-export [enabled]="true"></dxo-export>
              </ng-container> -->
              <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>
            </dx-data-grid>
            <!-- <div class="btn-icos">
              <ion-button (click)="openModalControl(queryProperty, 'grid')">
                <ion-icon name="scan-outline"></ion-icon>
              </ion-button>
            </div> -->
          </div>
        </ng-container>
      
        <ng-container *ngIf="!queryProperty">
          <div class="nodata_wrapper">
            <img src="assets/nodata.svg" class="nodata_img">
            <span>NO QUERY FOUND</span>
          </div>
        </ng-container>      
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openControlForm()">
      <ion-icon name="add" *ngIf="!queryProperty"></ion-icon>
      <ion-icon name="pencil-outline" *ngIf="queryProperty"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>